# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Chris stuff
*.iso
*.bin
chrisos
kernel
testmainprogramentry
myhelloworld
myhelloworld2
build_num.h
*.o.d
/libLoad/dist/
/libLoad/build/
/myHelloWorld/build/
/testMainProgramEntry/build/
/myHelloWorld2/build/
*.swp
*debug*.asm
*.sym
*.log
/fatLib/build/
/libChrisOS/build/
/libChrisOS/dist/
core
/sysEnter/build/
/sysEnter/dist/
gdb_history
/aproj/cpptest/build/
/aproj/cpptest/dist/
*/cross-Linux/*

/aproj/sleep/build/
/aproj/sleep/dist/
/aproj/libChrisOS/build/
/kproj/chrisOSKernel/build/
/kproj/chrisOS/build/
/aproj/kshell/build/
/aproj/testMainProgramEntry/build/
/aproj/testMMap/build/
/aproj/time/build/
/aproj/cat/build/
/aproj/cat/dist/
/aproj/echo/build/
/aproj/echo/dist/
/aproj/clock/build/
/aproj/clock/dist/
/aproj/ls/build/
/aproj/ls/dist/
/aproj/grep/build/
/aproj/grep/dist/

/build_dir/*
/kproj/chrisOS/dist/log
*/Debug/*
/aproj/free/build/
/aproj/free/dist/
/aproj/top/build/
/aproj/top/dist/
/aproj/wc/dist/
/aproj/wc/build/
/aproj/ps/dist/
/aproj/ps/build/
/aproj/syslogd/build/
/aproj/syslogd/dist/
aproj/kshell/dist/kshellD.asm

aproj/kshell/dist/Debug/GNU-Linux/

aproj/testMMap/dist/Debug/GNU-Linux/
